<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid ">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'}">trello.com</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'}">All Folders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'}">Categories</a>
            </li>
        </ul>
    </div>
</nav>